PROJECT_NAME=

# ------------------
#     DB
# ------------------
# 형식: postgresql://[유저]:[비번]@[주소]:[포트]/[DB이름]
DATABASE_URL=

# docker-compose용 (컨테이너 초기화)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# ------------------
#   AI 모델 관련 설정값 및 API
# ------------------
EMBEDDING_MODEL=
EMBEDDING_DIMENSION=
EMOTION_FREQUENCY_THRESHOLD=
ACTOR_MAX_TOKENS=
ACTOR_STREAM_TOKENS=

OPENAI_API_KEY=
GEMINI_API_KEY=

# ------------------
#   JWT SECRET KEY
# ------------------
JWT_SECRET_KEY=

# ------------------
#  AUTH 관련 API
# ------------------
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
KAKAO_CLIENT_ID=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

CORS_ORIGINS=
S3_ENDPOINT_URL=
