#/backend/.env

PROJECT_NAME=Samantha

# ------------------
#     DB
# ------------------

# 형식: postgresql://[유저]:[비번]@[주소]:[포트]/[DB이름]
DATABASE_URL=

# docker-compose용 (컨테이너 초기화)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# ------------------
#   AI Keys
# ------------------

OPENAI_API_KEY=
GEMINI_API_KEY=
# ------------------
#   JWT SECRET KEY
# ------------------

JWT_SECRET_KEY=

# ------------------
#  AUTH 관련 API
# ------------------

# 임시 api id, secret key 추후에 공식 키가 필요합니다
# ------------------
#  jisopark oauth 관련 환경변수
# ------------------
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# ------------------
#  sungjinwi oauth 관련 환경변수
# ------------------
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
KAKAO_CLIENT_ID=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# ------------------
#  Redis 설정 (추후)
#  (for emotion layer caching, TTS caching, session management)
# ------------------

REDIS_URL=